

    /* Nab bar start  */

         nav{display: flex;justify-content: space-around; align-items: center;}   
         
         
         nav img{ margin-left: 120px; width: 139px; height: 60px; }

         nav ul{display: flex; justify-content: space-between; list-style: none; text-align: center;
             gap: 32px; color: #000000; width: 365px; height: 24px; font-size: 16px;cursor: pointer; }

           nav button{ width:164 px; height: 44px; background-color: #30b858; 
        border-radius: 4px; border: none; color: white;  font-size: 16px; font-weight: 600px; } 
        nav button:hover{background-color: magenta;}

     /* start   hero section */ 
   #stracture-cover-png{background-image: url(./Materials/assets/hero-bg.png);}
   
     .tracture-coverpng{background-image: url(./Materials/assets/hero-bg.png);
   background-position: center; background-size: cover; background-repeat: no-repeat;
  width: 100%; height: 735px;}

  .early-button{background-color:white; padding: 7px 18px; border: none;
     border-radius: 2cm; font-size: 18px;}
     .early-button:hover{background-color: rgb(101, 147, 203) ;}
     
    .tracture-continer{ align-items: center; text-align: center;
    margin: 0px auto; width: 650px; padding: 154px;}

     .button{padding: 12px 30px; border: none;
    border-radius: 25px;  font-size: 18px;}

   .taking{line-height: 15px;}
  .taking h1{font-size: 72px; font: bold; color: white;}
  .taking h2{ font-size: 72px; font: bold; color: #30b868;}
  .private-paragrap{color: white;}

  .stracture-button{ gap: 30px; padding-top: 20px; }
  .button-01{background-color:#30b868; width: 190px; height: 50px; border: none;
     border-radius: 5px; font-size: 12px; color: white;}

  .button-02{padding: 12px 30px; border: none; border-radius: 5px; 
    background: none;  border: 1px solid black; font-size: 12px;color: aliceblue;}
  .button-01:hover{background-color: magenta ;}
  .button-02:hover{background-color: magenta ;}

  /* .. steart....card section.......... */

  .card-container{ border: 1px solid red; width: 1140px;
  margin: auto; align-items: center; text-align: center; padding: 110px;}

  .card{display: flex; justify-content: space-between;
  width: 125px;}


  .card-header{ width:100%; align-items: center;
     margin: auto; text-align: center;}

     .card-header h1{font-size: 38px; font: bold;}

     .four-card{ border: 1 px solid red; display: flex;
       justify-content: space-around; margin: auto; width: 1120px;}

      .card-design img{background-color: red; margin-top: 10px;}
      .care-design h1{ font: bolder;}
      .care-design a{font: 800; padding-top: 10px;}
     .card-design{ width: 322px; height: 300px; text-align: center;
      align-items: center; margin: auto; box-shadow: 0px 5px 10px wheat; gap: 5px;}
    .card-design:hover{cursor: pointer; background-color: magenta;}

       /* brain design start? */

       .three{padding-top: 120px;}
    .Second-Brain{ width: 1150px; display: flex; justify-content: space-between;
    margin: auto; gap: 25px;}

    .brain-img{ width: 600px; height: 600px;}
   .p-1{ color: #30b868;}

    .brain-design{ display:inline-block;}

    .abcd{display: flex; justify-content: first baseline; align-items: center;}
    .abcd img{width: 20px; height: 15px;}

    .section-4{padding-top: 50px;}


    .ready-container{ background-color: #eaeaef;
    width: 1000px; height: 200px; margin: auto; 
  text-align: center; align-items: center; padding: 90px;}

  .ready-button{background: #30b868; width: 150px; height: 50px;
     border: none; border-radius: 5px; color: white; font: 700; font-size: 12px;}

     .ready-button:hover{background-color: magenta;}

     /* start-sociallink section? */

      .footer{width: 945px; padding: 120px; background-color: black; margin: auto;}

     .social-link{  display: flex; justify-content: space-between;
    margin: auto; background: #000000;}

    .social-link i{background-color: #eaeaef;
    gap: 10px; border-radius: 10px;}

    .social-name{color: #eaeaef;}
   .all-right{color: aliceblue; text-align: center ;width: 100%;  margin-top: 20px;}

  



     
 